[Unit]
Description=Drone Firmware
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/conceptarea/raspberry-clone-firmware/drone.py
WorkingDirectory=/home/conceptarea/raspberry-clone-firmware/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=conceptarea

[Install]
WantedBy=multi-user.target